*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sansita", sans-serif !important;
}
.sectionName{
    position: relative;
    color: #FFB300 !important;
    font-family: sans-serif;
}
.sectionName::before{
    content: "";
    width: 85px;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -60%;
    background-color: #06B1FB;
}
.sectionName::after{
    content: "";
    width: 85px;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:-60%;
    background-color: #06B1FB;
}
.cardsContainer > div{
    width: 330px;
    height: 280px;
    border-color: black !important;
    transition: 0.5s;
    perspective: 1000px;
}
button{
    color:#06B1FB;
    border-color: #06B1FB !important;
    width: 110px;
    height: 32px;
}
button:hover{
    color: #FFB300;
    border-color: #FFB300 !important;
}
.cardContent > h3{
    font-size: 18px;
    color: #FFB300;
}
.cardContent > p{
    font-size: 10px;
}
.img{
    top: -50px;
    left: 60px;
}
.card:hover{
    border-color: #FFB300 !important ;
    transform: scale(1.020);
}
.card-face{
    backface-visibility: hidden;
    transition: transform 0.5s;
}
.card.flipped .front{
    transform:rotateY(180deg)
}
.card.flipped .back{
    transform: rotateY(0deg);
}
/* From Uiverse.io by eduardo-amaro-maciel */ 
.btnn {
    width: 120px;
    height: 35px;
    border: 2px solid #06B1FB;
    font-size: 16px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 0.5s;
    color: #06B1FB;
    font-family: sans-serif;
  }
  
  .btnn::before,
  .btnn::after {
    position: absolute;
    background: white;
    z-index: -1;
    transition: 0.5s;
    content: "";
  }
  
  .btnn::before {
    height: 50px;
    width: 90px;
  }
  
  .btnn::after {
    width: 150px;
    height: 15px;
  }
  
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .btnn:hover::before {
    width: 0px;
    background: white;
  }
  
  .btnn:hover::after {
    height: 0px;
    background: white;
  }
  .btn:hover {
    background: white;
  }